[submodule "stm32-rtos-minimal/third-party/FreeRTOS-Kernel"]
	path = stm32-rtos-minimal/third-party/FreeRTOS-Kernel
	url = git@github.com:FreeRTOS/FreeRTOS-Kernel.git
[submodule "stm32-hal-rtos-minimal/third-party/FreeRTOS-Kernel"]
	path = stm32-hal-rtos-minimal/third-party/FreeRTOS-Kernel
	url = git@github.com:FreeRTOS/FreeRTOS-Kernel.git
