[submodule "stm32-rtos-minimal/third-party/FreeRTOS-Kernel"]
	path = stm32-rtos-minimal/third-party/FreeRTOS-Kernel
	url = git@github.com:FreeRTOS/FreeRTOS-Kernel.git
[submodule "stm32-hal-rtos-minimal/third-party/FreeRTOS-Kernel"]
	path = stm32-hal-rtos-minimal/third-party/FreeRTOS-Kernel
	url = git@github.com:FreeRTOS/FreeRTOS-Kernel.git
[submodule "stm32-hal-rtos-minimal/third-party/stm32f4xx_hal_driver"]
	path = stm32-hal-rtos-minimal/third-party/stm32f4xx_hal_driver
	url = git@github.com:STMicroelectronics/stm32f4xx_hal_driver.git
[submodule "stm32-hal-rtos-minimal/third-party/cmsis_device_f4"]
	path = stm32-hal-rtos-minimal/third-party/cmsis_device_f4
	url = git@github.com:STMicroelectronics/cmsis_device_f4.git
[submodule "stm32-hal-rtos-minimal/third-party/cmsis_core"]
	path = stm32-hal-rtos-minimal/third-party/cmsis_core
	url = git@github.com:STMicroelectronics/cmsis_core.git
